.containar{
    padding: 10vh;
    color: white;
    margin-top: 10vh;
    background-color: rgba(0, 0, 0, 0.838);
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containar .footerCards{
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 20px;
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

@keyframes gradientBackground {
    0% {
        background-color:#BD79CA;
    }
    50% {
        background-color: #EA8A93;
    }
    100% {
        background-color: #BD79CA;
    }
}

.containar .footerCards .first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    animation: gradientBackground 7s ease infinite;
}
.containar .footerCards .first h1{
    margin: 0vh 20vh 20px 20vh;
    text-align: center;
    font-size: 2.7rem;
}
.containar .footerCards .first button{
    background-color: black;
    color: white;
    font-size: 0.9rem;
    border: none;
    border-radius: 30px;
    width: 20%;
    height: 10%;
}
.footerCards .second {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.cleverBooks {
    flex: 2;
}

.cleverBooks h1 {
    font-size: 36px;
    color: #ff7e5f;
}

.cleverBooks p {
    font-size: 16px;
    margin-top: 10px;
}

.explore, .learn, .contact {
    flex: 1;
}


.explore h3, .learn h3, .contact h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.explore ul, .learn ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.explore ul li, .learn ul li {
    margin-bottom: 10px;
}

.contact p {
    font-size: 14px;
    margin-bottom: 10px;
}

.social a {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.footerBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    font-size: 14px;
    border-top: 1px solid #333;
}

.footerBottom p {
    margin: 0;
}

.footerBottom p + p {
    margin-left: 20px;
}
.scrollTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    background-color: transparent;
    color: #dd7af1;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}