* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    height: 130vh;
    margin-bottom: 15vh;
}
.patten {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: rgb(234, 138, 147);
    background: linear-gradient(56deg, rgba(234, 138, 147, 1) 0%, rgba(64, 42, 49, 1) 0%, rgba(107, 73, 76, 1) 14%, rgba(21, 18, 24, 1) 100%);
    border: 1px solid transparent;
    border-radius: 0vh 0vh 70vh 50vh;
    z-index: 1;
}

.text-container {
    position: relative;
    width: 50%;
    height: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-container h2 {
    margin-top: 17vh;
    margin-bottom: 7vh;
    font-size: 3rem;
    color: white;
}

.text-container p {
    margin-bottom: 7vh;
    font-size: 0.8rem;
    color: white;
    text-align: center;
}

.text-container button {
    color: rgba(184, 119, 208, 1);
    width: 25%;
    height: 40px;
    border: 2px solid rgba(184, 119, 208, 1);
    border-radius: 50px;
    transition-duration: 1s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 2;
    background: rgb(234,138,147);
    background: linear-gradient(142deg,  rgba(184,119,208,1) 22%, rgba(234,138,147,1) 71%);
    
}

.text-container button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: #493337;
    z-index: -1;
    transition: transform 0.2s;
    transform: scale(1);
}

.text-container button:hover::before {
    transform: scale(0); 
    
}
.text-container button:hover{
    color: white;
    box-shadow: 0 0 0 2px rgba(184, 119, 208, 1); }
.Marquee{
    background-color: #ffffff;
    margin: 10vh 10vh 0px 0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}
.img-container{
    position: absolute;
    bottom: -40vh;
    border-radius: 25px;
    width: 110%;
    height: 80%;
    overflow: hidden;
   
}
.flex_container{
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.flex_container h1{
    font-size: 2.6rem;
    margin-bottom: 5vh;
}
.flex_container p{
    margin-bottom: 5vh;
}
.flex_container .tabs{
    width: 100%;
    height: 40vh;
    margin-bottom: 2.5vh;
    margin-top: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.text-tabs{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: max-content;
}
.text-tabs p {
    margin-top: 1vh;
}
.img-tabs{
    width: 35vw;
    height: 40vh; 
}
.img-tabs img{
    width: 90%;
    height: 90%;
}
.tabs:nth-child(even){
 flex-direction: row-reverse;
 
}

